<h1>Products</h1>

<ul>
  {{#each products}}
    <p>--------------------------------------------------</p>
    <li>
      <p>Title: {{title}}</p>
      <p>Description: {{description}}</p>
      <p>Price: {{price}}</p>
      <p>Category: {{category}}</p>
      <p>Quantity: {{stock}}</p>
      <button onclick=addToCart({{this._id}}, {{this.stock}})>Add to Cart</button>
    </li>
  {{/each}}
</ul>

{{#if hasPrevPage}}
  <a href="?page={{prevPage}}">
    <button>Previous</button>
  </a>
{{/if}}

Actual page: {{page}}

{{#if hasNextPage}}
  <a href="?page={{nextPage}}">
    <button>Next</button>
  </a>
{{/if}}
<script src="/routes/views.router.js"></script>