<h1>Products</h1>

<ul>
  {{#each products}}
    <p>--------------------------------------------------</p>
    <li>
      <p>Title: {{title}}</p>
      <p>Description: {{description}}</p>
      <p>Price: {{price}}</p>
      <p>Category: {{category}}</p>
      <p>Quantity: {{stock}}</p>
      <button class="addToCartButton" data-cart-id="{{this.idCart}}" data-product-id="{{this._id}}" data-quantity="{{this.stock}}">Add to Cart</button>
    </li>
  {{/each}}
</ul>

<script src="/js/productsRender.js" type="module"></script>
